.headerContainer {
  align-items: center;
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 10px 16px 0px 12px;
  width: 100%;
}

.title {
  color: var(--text-color);
  font-size: 1.6em;
  line-height: 1;
}

.title:first-child {
  margin-left: 10px;
}