*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --body-color: #FFF;
  --box-color: #F0F0F0;
  --text-color: #121212;
}

body {
  align-items: center;
  background-color: var(--body-color);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
  font-size: 16px;
  color: var(--text-color);
}

#root {
  aspect-ratio: 9/16;
  background-color: var(--box-color);
  max-width: 400px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 8px 16px rgb(0, 0, 0, 0.08);
  overflow: hidden;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

li {
  color: inherit;
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  background: transparent;
}

input {
  background: none;
  color: inherit;
  outline: none;
  border: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding: 0 8px;
  margin-top: 50px;
}

@media only screen and (max-width: 700px) {

  body {
    display: inline-block;
  }
  
  #root {
    aspect-ratio: unset;
    border-radius: 0;
    box-shadow: none;
    height: 100%;
    max-width: none;
    overflow: visible;
  }

}